fastapi-poe==0.0.19
huggingface-hub==0.16.4
ipython
scipy
matplotlib
scikit-learn
pandas
ortools
torch
torchvision
tensorflow
spacy
transformers
opencv-python-headless
nltk
openai
requests
beautifulsoup4
newspaper3k
feedparser
sympy
tensorflow
cartopy
wordcloud
gensim
keras
librosa
XlsxWriter
docx2txt
markdownify
pdfminer.six
Pillow
opencv-python
sortedcontainers
intervaltree
geopandas
basemap
tiktoken
basemap-data-hires
cartopy